<%- include('fragments/head.ejs')%>
<body>
  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
      </tr>
    </thead>

    <tbody>
      <% for(var i=0; i < products.length; i++) { %>
      <tr>
        <td><%= products[i].id %></td>
        <td><%= products[i].name %></td>
        <td><%= products[i].price %></td>
        <td><%= products[i].description %></td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div id="form">
    <form action="/addToCart" method="post">
      <div class="input-field"><input type="text" name="name" placeholder="Enter name"></div>
      <div class="input-field"><input type="text" name="price" placeholder="Enter price"></div>
      <div class="input-field"><input type="submit" value="Add To Cart" ></div>
    </form>
  </div>
</body>
<%- include('fragments/end.ejs')%>
